
    
body {
      font-size: 100%;
      background-color: pink;
      font-family: Trattatello;
      border: 10px solid red;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
  