
    
body {
      font-size: 100%;
      background-color: pink;
      font-family: american typewriter;
      border: 4px dashed red;
      text-transform: capitalize;
      letter-spacing: 3px;
      transition: rotate(-30)deg;
    }
  