
    
body {
      font-size: 100%;
      background-color: pink;
      font-family: ;
      border: 4px dashed red;
      text-transform: lowercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
  